<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/logo.png')}}" type="image/x-icon">
  <title>Parnaíba Connect</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/link.css')}}" />
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css')}}" />
  <!-- fonts style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/font.css')}}" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css')}}" />
  <!-- responsive style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/responsive.css')}}" />
</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/index">
            <img src="{{ url_for('static', filename = 'images/logo.png')}}" alt="">
            <span>
              Parnaíba Connect
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/historia"> Cidade </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/painel_dados"> Painel de Dados </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contato </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about"> Sobre</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Cidade Santana de Parnaíba
        </h2>
        <!--<img src="{{ url_for('static', filename = 'images/plug.png')}}" alt="">-->
      </div>

      <div class="service_container">
        <div class="box">
          <div class="img-box">
            <a href="https://pt.wikipedia.org/wiki/Santana_de_Parna%C3%ADba#/media/Ficheiro:Bandeira_de_Santana_de_Parna%C3%ADba.png"
              target="_blank" rel="noopener noreferrer">
              <img src="{{ url_for('static', filename = 'images/Bandeira_de_Santana_de_Parnaíba.png')}}" class="img1"
                alt="">
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Bandeira de Santana de Parnaíba
            </h5>
            <p>
              A bandeira de Santana de Parnaíba, de autoria do Prof. Arcinoe Antônio Peixoto de Faria. A cruz é símbolo
              de fé e o círculo o de eternidade, indicando a fé dos munícipes na eternidade de seu município.
            </p>
          </div>
        </div>
        <div class="box active">
          <div class="img-box">
            <a href="https://pt.wikipedia.org/wiki/Igreja_Matriz_de_Santana_de_Parna%C3%ADba#/media/Ficheiro:Igreja_matriz_Santa_Anna.jpg"
              target="_blank" rel="noopener noreferrer">
              <img src="{{ url_for('static', filename = 'images/Igreja_matriz_Santa_Anna.jpg')}}" class="img1" alt="">
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Igreja Matriz Santa Anna
            </h5>
            <p>
              A Igreja Matriz de Santa Ana e Paróquia Santa Ana (Sant'Ana) é um edifício religioso foi construída em
              1882. É considerada a mais importante construção histórica da cidade.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <a href="https://pt.wikipedia.org/wiki/Centro_Hist%C3%B3rico_de_Santana_de_Parna%C3%ADba#/media/Ficheiro:Webysther_20190718093628_-_Santana_de_Parna%C3%ADba.jpg"
              target="_blank" rel="noopener noreferrer">
              <img src="{{ url_for('static', filename = 'images/Centro_Historico_Santana_de_Parnaíba.jpg')}}"
                class="img1" alt="">
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Centro Histórico
            </h5>
            <p>
              É uma localidade do município que conta com construções antigas. O centro histórico de Santana de Parnaíba
              possui 209 edificações tombadas. Trata-se do maior conjunto arquitetônico tombado e preservado do Estado
              de São Paulo.
            </p>
          </div>
        </div>
        <div class="box ">
          <div class="img-box">
            <a href="https://pt.wikipedia.org/wiki/Santana_de_Parna%C3%ADba#/media/Ficheiro:Webysther_20190718092638_-_Santana_de_Parna%C3%ADba.jpg"
              target="_blank" rel="noopener noreferrer">
              <img src="{{ url_for('static', filename = 'images/Cidade_Vista_Cima_Santana_de_Parnaíba.jpg')}}"
                class="img1" alt="">
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Vista aérea da Cidade
            </h5>
            <p>
              A cidade Santana de Parnaíba é um município do estado de São Paulo, localizado na Região Metropolitana da
              capital paulista, microrregião de Osasco, localizada na Latitude – Sul 23° 26’ 39” e Longitude – Oeste 46°
              55’ 04”, a uma altitude entre 696 e 1202 m. A cidade está entre as rodovias Castelo Branco e Anhanguera e
              fica ao lado do Rodoanel Mário Covas.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <a href="https://pt.wikipedia.org/wiki/Monumento_aos_Bandeirantes_(Santana_de_Parna%C3%ADba)#/media/Ficheiro:Webysther_20190718131851_-_Santana_de_Parna%C3%ADba.jpg"
              target="_blank" rel="noopener noreferrer">
              <img src="{{ url_for('static', filename = 'images/Monumento_Bandeirantes_Santana_de_Parnaíba.jpg')}}"
                class="img1" alt="">
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Monumento aos Bandeirantes
            </h5>
            <p>
              É um conjunto escultórico criado por Murilo Sá Toledo e inaugurado em 2006. Compõem a obra: dois pórticos
              e 23 esculturas de bronze, que retratam personalidades importantes para a cidade, como os bandeirantes,
              Susana Dias e André Fernandes.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <a href="https://pt.wikipedia.org/wiki/Santana_de_Parna%C3%ADba#/media/Ficheiro:Museu_e_Casa_do_Anhanguera_-foto_Sandro_Almeida_(1).jpg"
              target="_blank" rel="noopener noreferrer">
              <img src="{{ url_for('static', filename = 'images/Museu_e_Casa_do_Anhanguera.jpg')}}" class="img1" alt="">
            </a>
          </div>
          <div class="detail-box">
            <h5>
              Museu Casa do Anhanguera
            </h5>
            <p>
              O Museu Casa do Anhanguera é uma casa bandeirista do século XVII. Construída em taipa de pilão e taipa de
              mão, presume-se que ali residiu o bandeirante Bartolomeu Bueno da Silva (o Anhanguera). Esse patrimônio
              histórico foi restaurado e tombado pelo Instituto do Patrimônio Histórico e Artístico Nacional (IPHAN) em
              1958. O museu está localizado no Largo da Matriz.
            </p>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="https://www.tourvirtual360.com.br/santana/" target="_blank" rel="noopener noreferrer">
          Tour Virtual
        </a>
      </div>
    </div>
  </section>
  <!-- end service section -->


  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_contact">
        <div class="row">
          <div class="col-md-4">
            <a class="navbar-brand2 navbar-brand" href="/index">
              <img src="{{ url_for('static', filename = 'images/logo.png')}}" alt="">
              <span>
                Parnaíba Connect
              </span>
            </a>
          </div>
          <div class="col-md-4">

            <ul>
              <li><a href="/index"><span>
                    <h4>Home</h4>
                  </span></a></li>
              <li><a href="/historia"><span>
                    <h4>Cidade</h4>
                  </span></a></li>
              <li><a href="/painel_dados"><span>
                    <h4>Painel de dados</h4>
                  </span></a></li>
              <li><a href="/contact"><span>
                    <h4>Contato</h4>
                  </span></a></li>
              <li><a href="/about"><span>
                    <h4>Sobre</h4>
                  </span></a></li>
            </ul>

          </div>
          <div class="col-md-4">
            <a href="/contact">
              <img src="{{ url_for('static', filename = 'images/envelope-white.png')}}" alt="">
              <span>
                Entre em contato
                <br>
                <br>
                ENDEREÇO:
                <br>
                <br>
                FATEC Santana de Parnaíba
                <br>
                Av. Ten. Marques, 5136 - Chácara do Solar I (Fazendinha),
                <br>
                Santana de Parnaíba - SP, 06530-001
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9 mx-auto">
          <p>
            &copy; 2024 - Todos os direitos reservados
            <a href="/index">Parnaiba Connect</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->


  <!--<script src="{{ url_for('static', filename = 'js/jquery-3.4.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'js/bootstrap.js')}}"></script>-->


</body>

</html>